body {
    margin: 0;
    color: black;
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    ;
}

.KVquote {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 50%;
    position: absolute;
    left: 50%;
    margin-right: 2vh;
    padding-right: 2vh;
}

.titleSearch {
    margin-right: 20px;
}

.headerDiv {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM2fkymFmvAbCZ9Q0jLOVWyKWuTswY6seyhw&usqp=CAU"); */
    width: 50%;
    height: 6em;
    font-size: 3em;
    flex: 1;
    margin-top: 200px;

    text-transform: uppercase;
}

.container {
    display: flex-wrap;
}

#circle {
    background-color: #FFA756;
    background: linear-gradient(#FFA756 40%, #f8f413);
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    box-shadow: -3vh -3vh 2em -1.5px #FFA756;
    opacity: 95%;
    position: absolute;
    top: 10vh;
    right: 10vh;
    z-index: -1;

}

#circleTwo {
    background-color: #6F2DA8;
    background: linear-gradient(rgba(to right 111, 45, 168, 0.1), rgba(111, 45, 168, 1));
    width: 60vh;
    height: 59vh;
    border-radius: 50%;
    box-shadow: -3vh -3vh 5em -1.5px #6F2DA8;
    opacity: 40%;
    position: absolute;
    top: 10.5vh;
    right: 10vh;
    z-index: -2;
}

.pine {
    color: #294122;
}

.salmon {
    color: #FFBBA6;
}

.tangerine {
    color: #EB3D00;
}

.titleSearch {
    padding: 5vh;
    font-family: 'Nunito Sans', sans-serif;

}