body {
    margin: 0;
    color: black;
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    ;
}

.KVquote {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 50%;
    position: absolute;
    left: 50%;
    margin-right: 2vh;
    padding-right: 2vh;
}

.titleSearch {
    margin-right: 20px;
}

.headerDiv {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM2fkymFmvAbCZ9Q0jLOVWyKWuTswY6seyhw&usqp=CAU"); */
    width: 50%;
    height: 6em;
    font-size: 3em;
    flex: 1;
    margin-top: 200px;

    text-transform: uppercase;
}

.container {
    display: flex-wrap;
}

#circle {
    background-color: #FFA756;
    background: linear-gradient(#FFA756 40%, #f8f413);
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    box-shadow: -3vh -3vh 2em -1.5px #FFA756;
    opacity: 95%;
    position: absolute;
    top: 10vh;
    right: 10vh;
    z-index: -1;

}

#circleTwo {
    background-color: #6F2DA8;
    background: linear-gradient(rgba(to right 111, 45, 168, 0.1), rgba(111, 45, 168, 1));
    width: 60vh;
    height: 59vh;
    border-radius: 50%;
    box-shadow: -3vh -3vh 5em -1.5px #6F2DA8;
    opacity: 40%;
    position: absolute;
    top: 10.5vh;
    right: 10vh;
    z-index: -2;
}

#circleThree {
    background-color: rgba(205, 209, 228);
    background: linear-gradient(rgba(to right 205, 209, 228, 0.1), rgba(82, 78, 183, .8));
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    box-shadow: inset -1vh -1vh 5vh 0 rgba(82, 78, 183),
        inset 0 98px 99px 0px #fff,
        inset 0 -99px 99px 1px #fa1dca,
        1vh 1vh 1em 1.5px rgba(82, 78, 183);
    opacity: 50%;
    z-index: -1;
    position: absolute;
    top: 45vh;
    left: 30vh;
}

#circleFour {
    background-color: rgb(252, 115, 3);
    background: linear-gradient(217deg, rgba(255, 102, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(116, 45, 248, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 0, 212, 0.8), rgba(0, 0, 255, 0) 70.71%);
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    box-shadow: 1vh 1vh 2em 1.5px rgba(255, 0, 212, 0.8);
    opacity: 99%;
    z-index: -2;
    position: absolute;
    top: -20vh;
    left: 60vh;
}

.titleSearch {
    padding: 5vh;
    font-family: 'Nunito Sans', sans-serif;

}